* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: #4b5563;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #374151;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	margin: auto;
	height: 100vh;
	line-height: 1;

	display: flex;
	flex-direction: column;
	background-color: #f9fafb;
}

button {
	padding: 8px 16px;
	color: #fff;
	border-radius: 4px;
	border: none;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
}

button:hover {
	text-decoration: underline;
}
button:disabled {
	opacity: 0.7;
}

input {
	padding: 16px 8px;
	border-radius: 4px;
	border: none;
}

input:focus {
	outline-color: #3b82f6;
}

header {
	padding: 16px 8px;
	background-color: #9ca3af;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	gap: 8px;
	z-index: 2;
}

main {
	flex-grow: 1;
	overflow-y: scroll;
}

#show-modal {
	background-color: #3b82f6;
	font-weight: 700;
}

#search,
#url {
	flex-grow: 1;
	width: 100%;
}

#items {
	background-color: #f3f4f6;
}

#no-items {
	color: #6b7280;
	text-align: center;
	font-weight: 700;
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: -1;
}

#modal {
	padding: 0 8px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);

	opacity: 0;
	display: none;
	flex-wrap: wrap;
	gap: 16px;
	align-content: center;
	justify-content: flex-end;
	align-items: center;
	animation: fade-in 0.15s ease-in forwards;
}

#add-item {
	background-color: #3b82f6;
}

#close-modal {
	background-color: #fff;
	color: #000;
}

#loading-error {
	display: none;
	color: #dc2626;
	font-weight: 700;
}

.read-item {
	padding: 16px 8px;
	gap: 24px;
	display: flex;
	align-items: center;
	align-content: center;
	border-bottom: 1px solid #d1d5db;
	border-left: 10px solid #d1d5db;
	cursor: pointer;
	position: relative;
	transition: all 0.2s ease-in;
	user-select: none;
	-webkit-user-select: none;
}
.read-item img {
	width: 20%;
	pointer-events: none;
}
.read-item h2 {
	pointer-events: none;
}
.read-item:hover {
	background-color: #d1d5db;
	border-left-color: #6b7280;
}
.read-item.active {
	background-color: #d1d5db;
	border-left-color: #3b82f6;
}

.read-item.active .readit-delete {
	display: block;
}

.readit-delete {
	display: none;
	color: #ef4444;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	text-decoration: underline;
	z-index: 1;
	animation: fade-in 0.15s ease-in forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
